<body class="background" [ngClass]="{'loaded': val === 1}">
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div>
<div class="container">
<div class="row">
  <div class="col-xs-5 col-sm-5 ">
    <ul class="nav nav-tabs">
      <li role="presentation" class="btn btn-link"><a class= "color" routerLink="/">Home</a></li>
    </ul>
  </div>
</div>
<div xmlns="" xmlns="">
  <div class="list-group">
    <a class="list-group-item"
       *ngFor="let company_name of company_names; let i = index"
       (click)="show_stockprice(i)">
      {{company_name}}
    </a>
  </div>
</div>
<p *ngIf="show_current_stock_closing_price" class= "color">The current Stock Price of the company as of {{date}} is:<b> Rs. {{show_current_stock_closing_price}}</b></p>
<p *ngIf="show_current_stock_opening_price" class= "color"><b>Open:</b> {{show_current_stock_opening_price}}</p>
<p *ngIf="show_current_stock_highest_price" class= "color"><b>High:</b> {{show_current_stock_highest_price}}</p>
<p *ngIf="show_current_stock_lowest_price" class= "color"><b>Low:</b> {{show_current_stock_lowest_price}}</p>
<p *ngIf="show_current_stock_closing_price" class= "color"><b>Close:</b> {{show_current_stock_closing_price}}</p>
<p *ngIf="show_current_stock_volume" class= "color"><b>Volume:</b> {{show_current_stock_volume}}</p>

<div *ngIf="clicked_company_name" class="col-sm-11 button-tabs">
  <button class="btn btn-light daily-btn" (click)="turnDailyOn()">
    Daily
  </button>
  <button class="btn btn-light volume-btn" (click)="turnVolumeOn()">
    Volume
  </button>
</div>
<div class="col-sm-11 daily-graph" *ngIf="clicked_company_name">
  <h4 class= "color">Daily Graph: </h4>
  <div [chart]="chart"></div>
</div>
<div class="col-sm-11 volume-graph" *ngIf="clicked_company_name">
  <h4 class= "color">Volume Graph: </h4>
  <div [chart]="chart1"></div>
</div>
<div class="col-sm-11" *ngIf="clicked_company_name">
  <p class="company_chosen color">You have chosen <b>{{clicked_company_name}}</b></p>
</div>
</div>
<div class="container" style="margin-bottom: 25%">
    <div *ngIf="clicked_company_name" class="col-sm-3" style=" margin-bottom: 5%; margin-top: 5%">
      <p class= "color"><b> Predict on </b></p>
      <div class="dropdown" dropdown [dropdownToggle]="false">
        <button class="btn btn-light" dropdown-open>{{prediction_for}}</button>
        <ul class="dropdown-menu">
          <li><a (click)="prediction_for='Years'">Years</a></li>
          <li><a (click)="showModal()">Months</a></li>
        </ul>
      </div>
    </div>
  <div *ngIf="prediction_for == 'Years'" class="col-sm-3" style="margin-bottom: 15%; margin-top: 5%">
    <p class= "color"><b>Years to predict for:</b></p>
    <div class="dropdown" dropdown [dropdownToggle]="false">
      <button class="btn btn-light" dropdown-open>{{noYears}}</button>
      <ul class="dropdown-menu">
        <li><a (click)="noYears=1">1</a></li>
        <li><a (click)="noYears=2">2</a></li>
        <li><a (click)="noYears=3">3</a></li>
        <li><a (click)="noYears=4">4</a></li>
        <li><a (click)="noYears=5">5</a></li>
        <li><a (click)="noYears=6">6</a></li>
        <li><a (click)="noYears=7">7</a></li>
        <li><a (click)="noYears=8">8</a></li>
        <li><a (click)="noYears=9">9</a></li>
        <li><a (click)="noYears=10">10</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="prediction_for == 'Months'" class="col-sm-3" style="margin-bottom: 15%; margin-top: 5%">
    <p class= "color"><b>Months to predict for:</b></p>
    <div class="dropdown" dropdown [dropdownToggle]="false">
      <button class="btn btn-light" dropdown-open>{{noMonths}}</button>
      <ul class="dropdown-menu">
        <li><a (click)="noMonths=1">1</a></li>
        <li><a (click)="noMonths=2">2</a></li>
        <li><a (click)="noMonths=3">3</a></li>
        <li><a (click)="noMonths=4">4</a></li>
        <li><a (click)="noMonths=5">5</a></li>
        <li><a (click)="noMonths=6">6</a></li>
        <li><a (click)="noMonths=7">7</a></li>
        <li><a (click)="noMonths=8">8</a></li>
        <li><a (click)="noMonths=9">9</a></li>
        <li><a (click)="noMonths=10">10</a></li>
        <li><a (click)="noMonths=11">11</a></li>
        <li><a (click)="noMonths=12">12</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3" style="margin-bottom: 15%; margin-top: 7.5%">
    <button *ngIf="noYears != 0 || noMonths != 0" class="btn btn-success" routerLink="/prediction" (click)="pass_data_prediction()">Predict The Future</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="future-enhancement" tabindex="-1" role="dialog" aria-labelledby="future-enhancement-center-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="future-enhancement-title">Warning!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Predicting for a short-term as months is not easy.</h5>
        <h5>It requires multiple checkes to be made to even predict it approximately.</h5>
        <h5>Hence, the accuracy might not be as good as preidcting for years.</h5>
        <h5>Please proceed with caution.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="future-enhancement-goBackButton" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-danger" id="future-enhancement-continueButton" data-dismiss="modal" (click)="prediction_for='Months'">Continue</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
</div>
</body>
